/* Root variables for color palette */
:root {
  --primary-color: #4a90e2; /* Soft Blue */
  --secondary-color: #50e3c2; /* Mint Green */
  --background-color: #f5f7fa; /* Light Gray */
  --text-color: #4a4a4a; /* Dark Gray */
  --border-radius: 10px;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.head {
  color: aliceblue;
}

.whole_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* height: 100vh; */
}

/* Verify OTP container styles */
.verify-otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  padding: 40px;
  background-color: rgb(33, 37, 41); /* Use a more explicit color instead of 'white' */
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

/* Form element styles */
.verify-otp-container input,
.verify-otp-container button {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.verify-otp-container button {
  background-color: var(--primary-color);
  color: #fff; /* Use a more explicit color instead of 'white' */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verify-otp-container button:hover {
  background-color: var(--secondary-color);
}

.btn {
  width: 100px !important;
  /* border: 1px solid red; */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .verify-otp-container {
    width: 80%;
  }
}

.resend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  gap: 20px;
  padding: 5px;
}

.timer-text {
  color: white;
  /* margin-bottom: 10px; */
}

/* Loader styles */
.loader-wrapper {
  width: 150px;
  height: 150px;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162634;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner {
  border-top-color: #36f372;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
