
.table-container {
    width: 80%;
    margin: 20px auto;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .heading{
    margin-top: 50px;
  }
  .waiting-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .waiting-list-table th,
  .waiting-list-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
  }
  
  .waiting-list-table th {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .waiting-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  